

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.caixa-roxa{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d3d3d3;
}

ul{
    display: flex;
    gap: 100px;
    list-style: none;
    margin-left: 100px;
    cursor: pointer;

}

li{
    font-size: 20px;
    font-weight: 400px;
    color: black
}
.logo{
    height: 35px;
    display: inline;
    display: flex;
}
.caixa-Azul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.titulo-iphone{
    font-size: 30px;
}
.titulo-iphone{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.paragrafo{
    font-size: 20px;
    margin-bottom: 25px;

}
.preco{
    font-size: 25px;
    color: #626262;
    font-weight: 300px;
    margin-bottom: 30px;
    
    
}
.botao{
    background-color: blue;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
.troca-cor{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.azul{
    background-color: #0000ff;
}
.amarelo{
    background-color: #f7da47;
}
.branco{
    background-color: #c1c1c1;
}
.preto{
    background-color: #272d33;
}
.vermelho{
    background-color: #b50012;
}
.roxo{
 background-color: #9400D3;
}
.escolha-cor{
    font-size: 16px;
    color: #3a3a3a;
    font-weight: 700px;
    margin-top: 50px;
    margin-bottom: 15px;

}
.iphone{
    width: 400px;
    margin-top: 100px;
    z-index: 99;
}
.circulo{
    width: 100%;
    height: 100%;
    background:#81a5c4;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 1000px);
}

